.squarePiece {
    background-color: #D5B60A;
  }
  
  .trianglePiece {
    background-color: #A7C7E7
  }
  
  .rightLPiece {
    background-color: #a0e194;
  }
  
  .leftLPiece {
    background-color: #448b45;
  }
  
  .leftZPiece {
    background-color:#C23B22;
  }
  
  .rightZPiece {
    background-color: #FAA0A0;
  }
  
  .linePiece {
    background-color: #FF964F;
  }